/* Define your main styles */
.main {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.section {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo {
    margin-bottom: 20px;
}

.content h1 {
    font-size: 32px; /* Adjust the values as needed */
    font-weight: 700;
    color: black;
}

.button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.swipeButton {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    width: 100px;
    border-radius: 73% 27% 48% 52% / 36% 23% 77% 64%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Apply media query */
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 24px; /* Adjust the values as needed */
    }
}
